.tombol-learn-more {
    background-color: white;
     width: 140px;
     height: 45px;
     padding: 7px;
     border: solid 2px;
     border-color: #ED692F;
     border-radius: 100px;
     color: #ED692F;
     margin-bottom: 28px;

}

.tombol-explore {
    background-image: linear-gradient(267.14deg, #FAB710 0%, #ED692F 100%);
     width: 140px;
     height: 45px;
     padding: 9px;
     border-color: #ED692F;
     border-radius: 100px;
     color: #ffffff;
     margin-bottom: 28px;
     text-align: center;

}

.products-card{
    margin-bottom: 40px;
}

h3{
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.4000000059604645px;
    text-align: center;
    color: #ED692F;
}
.products-text{
    margin-bottom: 72px;
   
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    color: #7A7A7A;
}
.products-judul{
    margin-bottom: 24px;
    margin-top: 100px;
}

.products-judul2{
    margin-top: 24px;

    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: center;
    color: #ED692F;

}

.products-text2{
    margin-top: 10px;
    margin-bottom: 18px;

    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
    color: #7A7A7A;

}

.news-judul2{
    margin-top: 8px;

    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #ED692F;

}

.news-text2{
    margin-top: 10px;
    margin-bottom: 18px;

    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    color: #7A7A7A;

}




.tombol-read-more {
     color: #ED692F;

    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
}

.news-tanggal{
    height: 26px;
    width: 304px;
    left: 145px;
    top: 658px;
    border-radius: nullpx;
    color: #7A7A7A80;
    margin-bottom: -10px;

}

/* halaman why-testimoni */


.testimoni-text2{
    margin-top: 10px;
    margin-bottom: 18px;

    font-size: 18px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    letter-spacing: 0px;
    text-align: center;


    color: #7A7A7A;

}

.testimoni-transparan{
    height: 26px;
    width: 64px;
    left: 100px;
    top: 126.19921875px;
    border-radius: nullpx;
    opacity: 0.5;
    color: #7A7A7A;
    

}


.testimoni-judul2{
    margin-top: 24px;

    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #ED692F;

}

.products-card2{
    margin-bottom: 40px;
    
}

.why-text{
    margin-bottom: 50px;
   
    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #7A7A7A;
}

#why-h3{
    font-size: 42px;
    font-weight: 700;
    line-height: 52px;
    letter-spacing: -0.4000000059604645px;
    text-align: left;
    color: #ED692F;
}

.why-text2{
    margin-top: 10px;
    margin-bottom: 18px;

    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: left;
    color: #7A7A7A;

}

.why-judul2{
    margin-top: 8px;

    font-size: 22px;
    font-weight: 500;
    line-height: 32px;
    letter-spacing: 0px;
    text-align: left;
    color: #ED692F;

}

.background-why{
    position: absolute;
    left: 0;
}